<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/LANG.js"></script>
	<style>
		nav {
			background-color: #563d7c;
			color: whitesmoke;
			padding-left: 30px;
			padding-top: 60px;
			display: flex;
			justify-content: space-between;
			}
	</style>
</head>


<body>
	{{!-- navbar navbar-light fixed-top --}}
	<nav class="navbar fixed-top navbar-light">
		<h4 class="navbar-brand" style="font-weight:bold; color: whitesmoke; margin:15px;">File Upload</h4>
	</nav>
	{{#if msg}}
		<div style="margin-top: 87px;" class="alert 
		{{#ifeq msg "File uploaded!"}}
			alert-success 
		{{else ifeq msg "No file selected" }}
			alert-primary
		{{else}}
			alert-danger 
		{{/ifeq}}  alert-dismissible fade show" role="alert">
  			<p style="text-align: center;">{{msg}}</p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{{/if}}
	<form action="/teacher/fileupload" method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<div class="container">
				<div class="row d-flex justify-content-around" style="margin-top: 100px;">
					<input id="fileinput" name="fileinput" type="file" class="file" data-show-preview="true">
				</div>
			</div>
		</div>
	</form>
</body>
</html>

