<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.0/purify.min.js"></script>
</head>

<body>
    <nav>
        <h4>School Management System</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            {{!-- <li><a href="/register">Register</a></li> --}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Login Page
            </div>
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email ID</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass" name="pass">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>

        {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>

    {{!-- Form wont submit if the input fields contain invalid html or javascript --}}
    <script>
        let form=document.querySelector("#loginForm");

        form.onsubmit=()=>{
             let email=document.querySelector("#email");
            let password=document.querySelector("#pass");
            old_email=email.value;
            old_password=password.value;
            email.value=DOMPurify.sanitize(email.value);
            password.value=DOMPurify.sanitize(password.value);

              if(old_email!==email.value)
            {   

                document.querySelector("#danger").style.display="block";
                document.querySelector("#danger").innerHTML="<strong>Danger!</strong> You just tried to add invalid html. Change your email."
                return false;
            }
            if(old_password!==password.value)
            {
                document.querySelector("#danger").style.display="block";
                document.querySelector("#danger").innerHTML="<strong>Danger!</strong> You just tried to add invalid html. Change your password."
                return false;

            }
            return true;
        }
        
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    
</body>

</html>