<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.0/purify.min.js"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <h4>School Management System</h4>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
            {{!-- <li><a href="/register">Register</a></li> --}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Registration
            </div>
            <div class="card-body">
                <form action="/auth/register" method="POST" id="loginForm">
                    {{!-- <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" class="form-control" id="id" name="id" min="1" required>
                    </div> --}}
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <br>
                        <select id="role" name="role" required>
                            <option value="">Select</option>
                            <option value="1">Student</option>
                            <option value="2">Teacher</option>
                        </select>
                        {{!-- <input type="number" class="form-control" id="role" name="role" min="0" required> --}}
                    </div>
                    <div class="form-group">
                        <label for="email">Email ID</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass" name="pass" required>
                    </div>
                    <button type="submit" class="btn btn-primary" >Register</button>
                </form>
            </div>
        </div>

        {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}

        <div class="alert alert-danger" style="display: none;" id="danger">
            <strong>Danger!</strong> You just tried to hack this site.
        </div>

    </div>


    {{!-- Form wont submit if the input fields contain invalid html or javascript --}}
    <script>
        let form=document.querySelector("#loginForm");
      

        form.onsubmit=()=>{
            let email=document.querySelector("#email");
            let password=document.querySelector("#pass");
            let firstName=document.querySelector("#first_name");
            let lastName=document.querySelector("#last_name");

            console.log("Old email: ",email.value);
            old_email=email.value;
            old_password=password.value;
            old_firstName=firstName.value
            old_lastName=lastName.value

            email.value=DOMPurify.sanitize(email.value);
            password.value=DOMPurify.sanitize(password.value);
            firstName.value=DOMPurify.sanitize(firstName.value);
            lastName.value=DOMPurify.sanitize(lastName.value);

            if(old_email!==email.value)
            {   

                document.querySelector("#danger").style.display="block";
                document.querySelector("#danger").innerHTML="<strong>Danger!</strong> You just tried to add invalid html. Change your email."
                return false;
            }

            if(old_password!==password.value)
            {
                document.querySelector("#danger").style.display="block";
                document.querySelector("#danger").innerHTML="<strong>Danger!</strong> You just tried to add invalid html. Change your password."
                return false;

            }

            if(old_firstName!==firstName.value)
            {
                document.querySelector("#danger").style.display="block";
                document.querySelector("#danger").innerHTML="<strong>Danger!</strong> You just tried to add invalid html. Change your first name."
                return false;

            }

            if(old_lastName!==lastName.value)
            {
                document.querySelector("#danger").style.display="block";
                document.querySelector("#danger").innerHTML="<strong>Danger!</strong> You just tried to add invalid html. Change your last name."
                return false;

            }
            return true;

        }
        
    </script>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>

</html>